<%- include("partials/header") %>

<div class="container">
<header class="jumbotron">
    <div class="text-center">
        <h1>COMING SOON</h1>
        <p>NumA web app on the making</p> 
    </div>
</header>


</div>

<%- include("partials/footer") %>